header {
    height: $header-height;
    background-color: $header-bgc;
    border-bottom: 1px solid darken($header-bgc, 10%);

    .container {
        @include flex($justify: space-between, $align: center);

        img {
            height: 50px;
            margin-top: 5px;
        }
    }
}