main {
    @include container;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 350px;
    justify-content: center;
    gap: 25px 50px;

    .cd {
        padding: 20px;
        text-align: center;
        background-color: $header-bgc;

        @include flex(column, space-around, center);
        @include shadow;

        img {
            width: 85%;
        }

        h3 {
            color: white;
            text-transform: uppercase;
        }

        h4,
        h5 {
            color: grey;
        }
    }
}